@model SettingsPeople
@{
    ViewBag.Ref = "Settings";
    ViewBag.Title = "修改个人信息";
}
    <form class="Delete_form" method="post" action="Delete">
        <div>
            <p>您当前的信息:</p>
            <p>身份证号：</p><p>@Model.people_id</p>
            <p>姓名：</p><p>@Model.name</p>
            <p>地址：</p><p>@Model.address</p>
            <p>性别：</p><p>@Model.sex</p>
            <p>电话：</p><p>@Model.tel</p>
            <p>密码：</p><p>@Model.password</p>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">我已确认无误
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-light">删除</button>
            </div>
        </div>
    </form>