@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DistributionModel
@{ ViewBag.Ref = "distribution";
    ViewBag.Title = "hello"; }
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/res/houqinwuzi.svg" alt="">
        <h2>物资与资金分配情况</h2>
        <p class="lead">下表是您所在的医院的物资与资金分配情况</p>
    </div>
</div>

@*
<table class="table table-hover table-bordered table-striped">
    <caption>资金分配情况</caption>
    <thead>
        <tr>
            <th>编号</th>
            <th>捐献日期</th>
            <th>捐献时间</th>
            <th>分配日期</th>
            <th>分配时间</th>
            <th>数量</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var id in Model.Idsdocmon)
        {
            <tr>
                <td>@id.id</td>
                <td>@id.datet</td>
                <td>@id.timet</td>
                <td>@id.dated</td>
                <td>@id.timed</td>
                <td>@id.number</td>
            </tr>

        }
    </tbody>
</table>


<table class="table table-hover table-bordered table-striped">
    <caption>物资分配情况</caption>
    <thead>
        <tr>
            <th>编号</th>
            <th>捐献日期</th>
            <th>捐献时间</th>
            <th>分配日期</th>
            <th>分配时间</th>
            <th>数量</th>
            <th>类型</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var id in Model.Idsdocmat)
        {
            <tr>
                <td>@id.id</td>
                <td>@id.datet</td>
                <td>@id.timet</td>
                <td>@id.dated</td>
                <td>@id.timed</td>
                <td>@id.amount</td>
                <td>@id.type</td>
            </tr>

        }
    </tbody>
</table>*@





<ul id="myTab" class="nav nav-pills">
    <li class="active">
        <a href="#home" data-toggle="tab">
            资金分配情况
        </a>
    </li>
    <a>          </a>
    <li><a href="#ios" data-toggle="tab">物资分配情况</a></li>

</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <table class="table table-hover table-bordered table-striped">
            <caption>资金分配情况</caption>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>捐献日期</th>
                    <th>捐献时间</th>
                    <th>分配日期</th>
                    <th>分配时间</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var id in Model.Idsdocmon)
                {
                    <tr>
                        <td>@id.id</td>
                        <td>@id.datet</td>
                        <td>@id.timet</td>
                        <td>@id.dated</td>
                        <td>@id.timed</td>
                        <td>@id.number</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="ios">
        <table class="table table-hover table-bordered table-striped">
            <caption>物资分配情况</caption>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>捐献日期</th>
                    <th>捐献时间</th>
                    <th>分配日期</th>
                    <th>分配时间</th>
                    <th>数量</th>
                    <th>类型</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var id in Model.Idsdocmat)
                {
                    <tr>
                        <td>@id.id</td>
                        <td>@id.datet</td>
                        <td>@id.timet</td>
                        <td>@id.dated</td>
                        <td>@id.timed</td>
                        <td>@id.amount</td>
                        <td>@id.type</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>
