@model QuestionnaireModel
@{
    ViewBag.Ref = "questionnaire";
    ViewBag.Title = "填写问卷";
}
    <div>
        <h1>当前问卷</h1>
        <div>
            @if (Model.questionnaire.Count == 0)
            {
                <p style="color:blueviolet">当前没有问卷</p>
            }
            else
            {
                @using (Html.BeginForm())
                {
                    @for (int i = 0; i < Model.questionnaire.Count; i++)
                    {
                        @if (!Model.questionnaire[i].is_Bridge)
                        {
                            <p>
                            @(i+1)
                            <strong>.@Model.questionnaire[i].question_Content</strong>
                            <i style="color:red">--填空</i>
                            </p>
                            @Html.TextBoxFor(m=>m.answers[i].fillContent, new { Name = "answers[" + i + "].fillContent" })
                            <br />
                        }
                        else
                        {
                            <p>
                                @(i+1)
                                <strong>.@Model.questionnaire[i].question_Content</strong>
                                <i style="color:red">--选择</i>
                            </p>

                                @for (int j = 0; j < Model.questionnaire[i].option_ID.Count; j++)
                                {
                                    <label>
                                        @Html.RadioButtonFor(m=>m.answers[i].choice,j+1,new { Name = "answers[" + i + "].choice" })
                                        <b>@Model.questionnaire[i].option_ID[j]</b>
                                        .<i>@Model.questionnaire[i].option_Content[j]</i>
                                    </label>
                                }

                            <br />
                        }
                    }
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="提交" class="btn btn-default" />
                        </div>
                    </div>
                }
            }
            
        </div>
</div>
