@model QuestionnaireModel
@{
    ViewBag.Ref = "questionnaire";
    ViewBag.Title = "查看统计结果";
}
    <div>
        <h1>当前问卷统计结果</h1>
        <div>
            @if (Model.questionnaire.Count == 0)
            {
                <p style="color:blueviolet">当前问卷为空，请先创建问卷！</p>
            }
            else
            {
                @for (int i = 0; i < Model.questionnaire.Count; i++)
                {
                    @if (!Model.questionnaire[i].is_Bridge)
                    {
                        <p>
                            @Model.questionnaire[i].question_ID
                            <strong>.@Model.questionnaire[i].question_Content</strong>
                            <i style="color:red">--填空</i>
                            <br />
                        </p>
                        <small style="color:blue">--由管理员<i>@Model.questionnaire[i].manager_ID</i>编辑</small>
                        <ol>
                            @for(int x=0;x<Model.questionnaire[i].fills.Count;x++)
                            {
                                <li>
                                    @Model.questionnaire[i].fills[x]
                                </li>
                            }
                        </ol>
                    }
                    else
                    {
                        <p>
                            @Model.questionnaire[i].question_ID
                            <strong>.@Model.questionnaire[i].question_Content</strong>
                            <i style="color:red">--选择</i>
                        </p>
                        <ul>
                            @for (int j = 0; j < Model.questionnaire[i].option_ID.Count; j++)
                            {
                                <li>
                                    <b>@Model.questionnaire[i].option_ID[j]</b>
                                    .<i>@Model.questionnaire[i].option_Content[j]</i>
                                    --<i>@Model.questionnaire[i].statics[j]</i>人选择了此项
                                </li>
                            }
                        </ul>
                        <small style="color:blue">--由管理员<i>@Model.questionnaire[i].manager_ID</i>编辑</small>
                    }
                }
            }
        </div>
    </div>
