@{
    ViewBag.Ref = "read";
    ViewBag.Title = "显示";
}


    
        
<h5>检查报告表单</h5>
<h8>表单序列号：@Model.ID_report</h8>
    
    
<table id="tab" cellpadding="1" cellspacing="1" border="1" class="table">
    <tr>
        <th colspan="4" align="center" style="text-align: center;">@Model.title</th> 
    </tr>
    <tr>
        <th rowspan="2">患者：</th>
        <th>@Model.name_patient</th>
        <th rowspan="2">医生：</th>
        <th rowspan="2">@Model.name_doctor</th>
    </tr>
    <tr>
        <th>@Model.ID_patient</th>
    </tr>
    <tr>
        <th colspan="2">@Model.date</th>
        <th colspan="2">@Model.time</th>
    </tr>
    <tr>
        <th colspan="4">
            详细内容:<br />
            @Model.detail
        </th>
    </tr>
</table>
   
