@model DistributeModel
@{
    ViewBag.Title = "分配";
}
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/res/fenpei.svg" alt="" >
        <h2>分配信息</h2>
        <p class="lead">下表是管理员对民众捐献的物资及现金的分配的详细信息，欢迎您的监督！</p>
    </div>
</div>
<div class="text-center">
    <h3>分配信息</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>捐献编号</th>
                <th>医院名称</th>
                <th>分配日期</th>
                <th>分配时间</th>
                <th>管理员编号</th>
            </tr>
        </thead>
        <tbody>
            @for(int i=0;i<Model.num;i++)
            {
            <tr>
                <td>@Model.DIds[i]</td>
                <td>@Model.Names[i]</td>
                <td>@Model.Dates[i]</td>
                <td>@Model.Times[i]</td>
                <td>@Model.MIds[i]</td>
            </tr>
            }

        </tbody>
    </table>
</div>
